<div class="footer">
  <div class="container">
    <div class="row d-flex align-items-center flex-column">
      <div class="col-lg-6 col-12">
        <ul class="footer__menu d-flex flex-row justify-content-around pt-60 pb-30">
          <li><a class="foo-effect f-size-lg-18 f-size-14" href="#">О компании</a></li>
          <li><a class="foo-effect f-size-lg-18 f-size-14" href="#">Услуги</a></li>
          <li><a class="foo-effect f-size-lg-18 f-size-14" href="#">Цены</a></li>
          <li><a class="foo-effect f-size-lg-18 f-size-14" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="copyright f-size-16 f-size-12 line-height-1-75">© 2007-2015 Yourdomaine.com</div>
        <div class="copyright f-size-16 f-size-12 line-height-1-75">Услуги от нашей компани «YOUR NAME»</div>
        <div class="d-flex justify-content-center"><a href="#" class="site-map f-size-14 f-size-12">Карта сайта</a></div>
      </div>
    </div>
  </div>
</div>