<div class="header">
  <div class="header__top">
    <div class="container">
      <div class="row d-flex justify-content-lg-center flex-lg-row flex-column align-items-center">
        <div class="col-lg-auto col-12">
          <div class="contacts d-flex align-items-center justify-content-center">
            <img class="pr-10" src="img/adress.png" alt="">
            <div class="contacts__title-adress f-size-14">г. Николаев, пр. Ленина, 88/3</div>
          </div>
        </div>
        <div class="col-lg-auto col-12 pr-lg-30">
          <div class="contacts d-flex align-items-center justify-content-center">
            <img class="pr-10" src="img/tel.png" alt="">
            <a class="contacts__title f-size-12">+38 0512 <span class="f-size-14">55-55-55</span></a>
          </div>
        </div>
        <div class="col-lg-auto col-12 pl-lg-20">
          <div class="contacts d-flex align-items-center justify-content-center">
            <img class="pr-10" src="img/mail.png" alt="">
            <a class="contacts__title f-size-14">info@mail.ru</a>
          </div>
        </div>
        <div class="col-lg-auto col-12">
          <div class="contacts d-flex align-items-center justify-content-center pl-lg-30">
            <img class="pr-10" src="img/viber.png" alt="">
            <a class="contacts__title f-size-12">+38 0512 <span class="f-size-14">55-55-55</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-lg-around justify-content-around align-items-lg-center align-items-center">
        <div class="col-auto">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="col-lg-6 col-12">
          <ul class="menu">
            <li><a class="h-effect f-size-16" href="#">О компании</a></li>
            <li><a class="h-effect f-size-16" href="#">Услуги</a></li>
            <li><a class="h-effect f-size-16" href="#">Цены</a></li>
            <li><a class="h-effect f-size-16" href="#">Контакты</a></li>
          </ul>
          <div class="menu-mobile py-20 f-size-16"><i class="fas fa-bars"></i></div>
        </div>
        <div class="col-auto">
          <div class="links d-flex">
            <div class="languages f-size-16 d-flex align-items-lg-center pr-15">ru  /  en</div>
            <a href="#"><img src="img/switch-lang.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>