@for $i from 1 through 20 {
	.opacity-#{$i * 5} {opacity: $i * 5 * 0.1 * 0.1;}
}

.z-index-n1 {z-index: -1;}

.z-index-0 {z-index: 0;}

@for $i from 1 through 10 {
	.z-index-#{$i} {z-index: $i;}
}

.overflow-hidden-x {
	overflow-x: hidden;
}

.overflow-hidden-y {
	overflow-y: hidden;
}

.overflow-visible {
	overflow: visible;
}

// backgrounds styles
.bg {
	&-cover {
		background-size: cover;
	}

	&-contain {
		background-size: contain;
	}

	&-norepeat {
		background-repeat: no-repeat;
	}

	&-repeat {
		background-repeat: repeat;
	}

	&-position {
		&-top-left {
			background-position: left top;
		}
		&-top-center {
			background-position: center top;
		}
		&-top-right {
			background-position: right top;
		}
		&-bottom-left {
			background-position: left bottom;
		}
		&-bottom-center {
			background-position: center bottom;
		}
		&-bottom-right {
			background-position: right bottom;
		}
		&-left-center {
			background-position: left center;
		}
		&-right-center {
			background-position: right center;
		}
		&-center {
			background-position: center center;
		}
	}
}

// overlay
.overlay-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}