@import "mixins/functions";
@import "mixins/mixins";

$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
);

$default-font-family: 'Open Sans';

$size-indent: (-10, 0, 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100);

$letter-spacing: (5, 10, 20, 30, 50, 100, 200, 500);

$font-size: (12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 46, 50, 52, 56, 60, 62, 66, 70, 72, 76, 80);