//
// Variables
//
@import "variables";

//
// Bootstrap
//


body {
	font-family: $default-font-family;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.125;
	color: #000;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

//
// Utilities
//
@import "font-options";
@import "spacing";
@import "other-options";

// Header
.header {

	&__top {

		.contacts {
			line-height: 40px;

			&__title-adress,
			&__title	{
				font-family: 'Exo2', sans-serif;
				color: #22272f;
			}

			&__title {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	
	&__bottom {
		background-color: #0e1e42;
		min-height: 90px;

		@media (max-width: 991px) {
			min-height: 200px;
		}

		.logo {
			display: block;
		}

		.menu {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-around;
			list-style: none;

			@media (max-width: 991px) {
				display: none;
				position: absolute;
				width: 100%;
				top: 101px;
				left: 0;
				z-index: 10;
			}

			li {
				
				a {
					text-decoration: none;
					color: #fff;
					font-family: 'Exo2',sans-serif;
					font-weight: 300;
					display: block;
					position: relative;
					line-height: 90px;
					background-color: #0e1e42;

					@media (max-width: 991px) {
						line-height: 40px;
					}
				}
			}
		}

		.menu-mobile {
			color: #fff;
			cursor: pointer;
			position: relative;
			display: flex;
			justify-content: center;

			@media (min-width: 992px) {
				display: none;
			}
		}

		.links {
			
			.languages {
				font-family: 'Exo2', sans-serif;
				color: #fff;
			}
		}
	}
}
// Header

.h-effect {

	@media (max-width: 991px) {
		line-height: 40px;
		text-align: center;
	}

	&:before {
		display: block;
		position: absolute;
		content: "";
		height: 2px;
		width: 0;
		background-color: red;
		transition: width .5s ease-in-out, left .5s ease-in-out;
		left: 50%;
		bottom: 0;
	}

	&:after {
		display: block;
		position: absolute;
		content: "";
		height: 2px;
		width: 0;
		background-color: red;
		transition: width .5s ease-in-out;
		left: 50%;
		bottom: 0;
	}

	&:before,
	&:after {

		@media (max-width: 991px) {
			display: none;
		}
	}

	&:hover:before {
		width: 50%;
		left: 0;
	}

	&:hover:after {
		width: 50%;
	}
}    //header-style

// Ponorama 
.panorama {
	background-image: url('../img/panorama-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	min-height: 498px;

	.quality {
		position: absolute;
		top: 190px;
		left: 79px;

		img {
			width: 100%;
			height: auto;
		}
	}
}
// Ponorama

// Services
.services {

	&__heading {
		font-family: 'Exo2', sans-serif;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		color: #0e1e42;
	}

	.service {

		@media (max-width: 991px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px 0;
		}

		&__name {
			color: #0e1e42;
			font-family: "Open Sans",sans-serif;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
		}

		&__title {
			color: #444;
			text-align: center;
			line-height: 24px;
		}
	}
}
// Services

// Text-Block
.text-block {
	
	&__heading {
		text-align: center;
		color: #051f34;
		font-family: "Open Sans",sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		padding-top: 44px;
		font-size: 48px;

		@media (max-width: 991px) {
			font-size: 30px;
		}

		@media (max-width: 575px) {
			font-size: 26px;
			line-height: 2.25rem;
		}
	}
	
	&__title {
		font-family: "Open Sans", sans-serif;
		color: #444;
	}
}
// Text-Block

// people
.people {
	background-image: url('../img/people.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 282px;
}
// people

//footer
.footer {

	&__menu {
		padding: 0;
		margin: 0;
		list-style: none;
		
	}

	.copyright,
	.site-map	{
		text-align: center;
		color: #7b7b7b;
	}

	.site-map {
		text-decoration: none;
		position: relative;
		padding-bottom: 4px;

		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #7b7b7b;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
//footer

.foo-effect {    //footer-style
	text-transform: uppercase;
	color: #051f34;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	position: relative;
	
	&:hover {
		text-decoration: none;
		color: #051f34;
	}

	&:before {
		display: block;
		position: absolute;
		content: "";
		height: 2px;
		width: 0;
		background-color: red;
		transition: width .5s ease-in-out, left .5s ease-in-out;
		left: 50%;
		bottom: 0;
	}

	&:after {
		display: block;
		position: absolute;
		content: "";
		height: 2px;
		width: 0;
		background-color: red;
		transition: width .5s ease-in-out;
		left: 50%;
		bottom: 0;
	}

	&:before,
	&:after {

		@media (max-width: 991px) {
			display: none;
		}
	}

	&:hover:before {
		width: 50%;
		left: 0;
	}

	&:hover:after {
		width: 50%;
	}
}