@@include("../../templates/header.html", {
  "titlePage": "Index"
})

<!-- body -->
@@include("../../templates/header-page.html")

<div class="panorama">
  <div class="quality"><img src="img/quality.png" alt=""></div>
</div>

<div class="services">
  <div class="services__heading f-size-42 pt-40 pb-50">НАШИ УСЛУГИ</div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="row flex-lg-row flex-column justify-content-center align-items-lg-center">
          <div class="col-auto">
            <div class="service d-flex flex-column align-items-center">
              <img src="img/service-1.png" alt="">
              <a href="#" class="service__name effect-style py-5 f-size-16">МЕДИЦИНА</a>
              <div class="service__title f-size-14">Лечение от<br>
                наркозависимости</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row flex-lg-row flex-column justify-content-center align-items-lg-center">
          <div class="col-auto">
            <div class="service d-flex flex-column align-items-center">
              <img src="img/service-2.png" alt="">
              <a href="#" class="service__name effect-style py-5 f-size-16">ОБУЧЕНИЕ</a>
              <div class="service__title f-size-14">Только самое<br>
                важное</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row flex-lg-row flex-column justify-content-center align-items-lg-center">
          <div class="col-auto">
            <div class="service d-flex flex-column align-items-center">
              <img src="img/service-3.png" alt="">
              <a href="#" class="service__name effect-style py-5 f-size-16">СОБЫТИЯ</a>
              <div class="service__title f-size-14">Наши новости и<br>
                события</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row flex-lg-row flex-column justify-content-center align-items-lg-center">
          <div class="col-auto">
            <div class="service d-flex flex-column align-items-center">
              <img src="img/service-4.png" alt="">
              <a href="#" class="service__name effect-style py-5 f-size-16">ПОЛИГРАФИЯ</a>
              <div class="service__title f-size-14">Печать полиграфии,<br>
                буклетов и визиток</div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

<div class="text-block">
  <div class="text-block__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dolor arcu</div>
  <div class="container">
    <div class="row d-flex flex-lg-row flex-column pt-80">
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-auto">
            <div class="text-block__title f-size-16 line-height-1-5">
              Curabitur nec est sit amet eros lacinia euismod id sed ante. Mauris fermentum volutpat lectus eget porta
            </div>
          </div>
          <div class="col-auto">
            <div class="text-block__title f-size-16 line-height-1-5 pt-40">
              Sed in nisi id sem venenatis congue quis nec arcu. Curabitur nec est sit amet eros lacinia euismod id sed ante. Mauris fermentum volutpat lectus eget porta. Sed bibendum, dolor nec semper congue, lectus ipsum dictum nisi, id venenatis odio
              purus a neque.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 pt-lg-0 pt-40">
        <div class="row">
          <div class="col-auto">
            <div class="text-block__title f-size-16 line-height-1-5">
              Curabitur nec est sit amet eros lacinia euismod id sed ante. Mauris fermentum volutpat lectus eget porta
            </div>
          </div>
          <div class="col-auto">
            <div class="text-block__title f-size-16 line-height-1-5 pt-40">
              Sed in nisi id sem venenatis congue quis nec arcu. Curabitur nec est sit amet eros lacinia euismod id sed ante. Mauris fermentum volutpat lectus eget porta. Sed bibendum, dolor nec semper congue, lectus ipsum dictum nisi, id venenatis odio
              purus a neque.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="people mt-50"></div>


@@include("../../templates/footer-page.html")
<!-- /body -->

@@include("../../templates/footer.html")